{% extends 'social/layout.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
  <h1>Perdiste tu password?</h1>
  <p>Ingresa el correo que usaste en el registro y espera instrucciones.</p>

  <form method="POST" action="{% url 'password_reset1' %}">
    {% csrf_token %}
    {{ password_reset_form }}
    <input type="submit" id="cambiar" value="cambiar password!">
  </form>
  {% if errores %}
   <div class="p-3 mb-2 bg-danger text-white">{{ errores }}</div>
  {% endif %} 
{% endblock %}
