{% extends 'social/layout.html' %}

{% block content %}
<h2>Editar Password</h2>
<script type="text/javascript" src="password.js"></script>

<form class="form" method="post" action="{% url 'actualizaralumno' password.id %}">
{% csrf_token %}
<div class="form-row">
 <div class="col">
 
    <p><label for="id_usuario">Usuario:</label> <input type="text" name="usuario" required id="id_usuario" maxlength="150" autofocus="" required="></p>

 </div>
<div class="col">
    <p><label for="id_url">Url:</label> <input type="url" name="url" required id="id_url"></p>
</div>
<div class="col">
    <p><label for="id_contrasena">Contrasena:</label> <input type="password" name="contrasena" required id="id_contrasena"></p>
</div>
<div class="col">
    <button class="btn btn-primary" type="button" onclick="mostrarContrasena()">Mostrar Contraseña</button>
</div>
  <div class="col">
       <input type="button" value="Generar password aleatorio" id="submit" class="btn btn-success btn-xs" onclick="Generar()" style>
    </div>

    <p><label for="id_nota">Nota:</label> <textarea name="nota" cols="40" rows="10" required id="id_nota">
     </textarea></p>
    
    <button type="submit" id="submit">Editar</button>
</div>
 {% if form.errors %}
      {% for field in form %}
        {% for error in field.errors %}
          <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endif %}   
</form>
<script type="text/javascript">
function Generar()
{
    var Caracteres = "0123456789qwertyuiopasdfghjklzxcvbnmQWERTYUIOPASDFGHJKLZXCVBNM!@#="
    var tam=10;
    var pass= "";
   
    for(var i=0; i<tam; i++)
    {
        var rand= Math.floor(Math.random()*Caracteres.length);
        pass += Caracteres.substring(rand, rand +1);
     }
     document.getElementById("id_contrasena").value = pass;
}

function mostrarContrasena(){
      var tipo = document.getElementById("id_contrasena");
      if(tipo.type == "password"){
          tipo.type = "text";
      }else{
          tipo.type = "password";
      }
  }
</script>



<style> 
input[type=button] {
  background-color: #7A9D96;
  border-radius: 6px;
  color: #fff;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width:250px;
  height:25px;
}
</style>
{% endblock %}
